<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/account/account.css">
    <script src="https://kit.fontawesome.com/9e6202f12f.js" crossorigin="anonymous"></script>
    <title>spotify</title>
</head>
<body>
    <div class="brand">
            <a href="/"><i class="fab fa-spotify"></i> <span class="brandName">Spotify</span></a>
    </div>
    <h1>To continue,log in to spotify</h1>
    <div class="socialLinks">
        <a class="facebook">
            <i class="fab fa-facebook"></i> CONTINUE WITH FACEBOOK
        </a>
        <a class="apple">
            <i class="fab fa-apple"></i> CONTINUE WITH APPLE
        </a>
        <a class="google">
            <img src="https://img.icons8.com/color/48/000000/google-logo.png"/> CONTINUE WITH GOOGLE
        </a>
        <a class="phone">
            CONTINUE WITH PHONE NUMBER
        </a>
        <div class="hr"></div>
        <span class="or">OR</span>
    </div>

    <form class="form" method="post" action="/login">
        <div class="formGroup">
            <label>Email address or username</label>
            <input type="text" placeholder="Email address or username">
        </div>
        <div class="formGroup">
            <label>Password</label>
            <input type="text" placeholder="password">
        </div>

        <div class="formGroup">
            <a class="forgotPassword">Forgot your password?</a>
        </div>

        <div class="submitRow">
            <div class="checkBox">
               <div class="insideCheck">
                  <label>
                    <input type='checkbox' >
                    Remember Me
                    <span class="checkBoxIndicator"></span>
                  </label>
               </div>
            </div>

            <div class="btnSubmit">
                <button class="logIn">LOG IN</button>
            </div>
        </div>
    </form>



    <div class="signUp center">
        <h4>Don't have an account?</h4>
        <div class="signUpButton ">
            <button>SIGN UP FOR SPOTIFY</button>
        </div>
    </div>
</body>
</html>