<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify | Home</title>
    <link rel="stylesheet" href="/css/spotify.css">
    <script src="https://kit.fontawesome.com/9e6202f12f.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <div class="spotify">
      
        <div class="leftSideBar">
            <div class="brand">
                <a href="/"><i class="fab fa-spotify"></i> <span class="brandName">Spotify</span></a>
             </div>

             <div class="navigation" style="color: white;">
                <ul>
                    <li class="active">
                        <a href="#" ><i class="ri-home-fill"></i>Home</a>
                    </li>
                     <li>
                        <a href="#"><i class="ri-search-line"></i>Search</a>
                    </li>
                     <li>
                        <a href=""><i class="fas fa-signal"></i>Library</a>
                    </li>

                     <li class="playlistLi">
                        <a href="#" ><i class="fas fa-plus-square"></i>Create Playlist</a>
                    </li>
                     <li>
                        <a href="#"><i class="ri-search-line"></i>Liked Songs</a>
                    </li>
                     <li>
                        <a href=""><i class="fas fa-signal"></i>Your Episodes</a>
                    </li>
                </ul>
             </div>
        
        </div>
        <!--top represents the naviagation below represents content -->
        <div class="content">
            <div class="topContent">
                 <div class="contentNavigation">
                    <a href="#" class="arrows"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" class="arrows"><i class="fas fa-chevron-right"></i></a>
                    <span class="acc">
                        <button class="upgradeButton">UPGRADE</button>
                        <a class="accountInfo"><span class="coverProfileIcon"><i class="ri-user-3-line" ></i></span><span class="username">username</span><i class="fas fa-caret-down dropIcon"></i></a>
                    </span>
                    
                </div>

                
               <div class="information">
                   <h3>Good afternoon</h3>
                   <div class="infoCardWrapper">
                       <a href="#" class="infoCard">
                           <div class="infoCardImage">
                               <img src="https://i.scdn.co/image/ab67706f0000000205bcb24491b3e6e1533fcb2b">
                           </div>
                           <div class="infoCardText">
                               normal text
                           </div>
                           <button href="#" class="getInfoSong"><i class="fas fa-caret-right"></i></button>
                       </a>
                       <a href="#" class="infoCard">
                           <div class="infoCardImage">
                               <img src="https://i.scdn.co/image/ab67706f0000000295ead963e2c26040fd00e745">
                           </div>
                           <div class="infoCardText">
                               normal text
                           </div>
                           <button href="#" class="getInfoSong"><i class="fas fa-caret-right"></i></button>
                       </a>
                       <a href="#" class="infoCard">
                           <div class="infoCardImage">
                               <img src="https://i.scdn.co/image/ab67706f0000000291d98749a36f77ecbb581374">
                           </div>
                           <div class="infoCardText">
                               normal text
                           </div>
                           <button href="#" class="getInfoSong"><i class="fas fa-caret-right"></i></button>
                       </a>
                       <a href="#" class="infoCard">
                           <div class="infoCardImage">
                               <img src="https://i.scdn.co/image/ab67616d0000b27369093e4410663177f578851d">
                           </div>
                           <div class="infoCardText">
                               normal text
                           </div>
                           <button href="#" class="getInfoSong"><i class="fas fa-caret-right"></i></button>
                       </a>
                       <a href="#" class="infoCard">
                           <div class="infoCardImage">
                               <img src="https://i.scdn.co/image/ab67706f0000000270360cd384e89a266c8480a1">
                           </div>
                           <div class="infoCardText">
                               normal text
                           </div>
                           <button href="#" class="getInfoSong"><i class="fas fa-caret-right"></i></button>
                       </a>
                       <a href="#" class="infoCard">
                           <div class="infoCardImage">
                               <img src="https://i.scdn.co/image/ab67706f0000000245a5db34be4a2f006c08284a">
                           </div>
                           <div class="infoCardText">
                               normal text
                           </div>
                           <button href="#" class="getInfoSong"><i class="fas fa-caret-right"></i></button>
                       </a>
                       <a href="#" class="infoCard">
                           <div class="infoCardImage">
                               <img src="https://i.scdn.co/image/ab67706f000000027311fc2a25dd676a8950f9e9">
                           </div>
                           <div class="infoCardText">
                               normal text
                           </div>
                           <button href="#" class="getInfoSong"><i class="fas fa-caret-right"></i></button>
                       </a>
                       <a href="#" class="infoCard">
                           <div class="infoCardImage">
                               <img src="https://i.scdn.co/image/ab67706f000000026bdff7dc0e53fe6ca17749b5">
                           </div>
                           <div class="infoCardText">
                               normal text
                           </div>
                           <button href="#" class="getInfoSong"><i class="fas fa-caret-right"></i></button>
                       </a>
                   </div>
               </div>
                

            </div> 

            <div class="theTopPodcasts motherCard">
                    <a href="" class="sectionLink">The Top Podcasts of 2020</a>
                    <h4 class="secInfo">Our favourite new shows of the year <a href="#" class="seeAll">see all</a></h4>
                    <div class="cardWrapper">
                        <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002dc96821fb44b3e8cb5436c4b">
                            <div class="cardTitle">
                                Are and B Presents ...
                            </div>
                            <div class="cardContent">
                                Cover : jhene aiko
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67656300005f1f34fd237688d618b31e66bee5">
                            <div class="cardTitle">
                                card Title  
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f000000023f22beb2471ef8949bb95d97">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                             <img src="https://i.scdn.co/image/ab67706f00000002d6b20e4c6582d83f86272337">
                             <div class="cardTitle">
                                 card Title
                             </div>
                             <div class="cardContent">
                                 squam eius sed odit fugiat iusto fuga praesentium they from people
                             </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002da8277d97cafeee0df642969">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f0000000258256adb7bf4c656cc053e5a">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                    </div>
            </div>
            

            <div class="motherCard">
                    <a href="" class="sectionLink">The Best of 2020</a>
                    <h4 class="secInfo">Dive into the best songs of 2020 in every genre <a href="#" class="seeAll">see all</a></h4>
                    <div class="cardWrapper">
                        <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002dc96821fb44b3e8cb5436c4b">
                            <div class="cardTitle">
                                Are and B Presents ...
                            </div>
                            <div class="cardContent">
                                Cover : jhene aiko
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67656300005f1f34fd237688d618b31e66bee5">
                            <div class="cardTitle">
                                card Title  
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f000000023f22beb2471ef8949bb95d97">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                             <img src="https://i.scdn.co/image/ab67706f00000002d6b20e4c6582d83f86272337">
                             <div class="cardTitle">
                                 card Title
                             </div>
                             <div class="cardContent">
                                 squam eius sed odit fugiat iusto fuga praesentium they from people
                             </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002da8277d97cafeee0df642969">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f0000000258256adb7bf4c656cc053e5a">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                    </div>
                </div>

                <div class="motherCard">
                    <a href="" class="sectionLink">The Top Podcasts of 2020</a>
                    <h4 class="secInfo">Our favourite new shows of the year <a href="#" class="seeAll">see all</a></h4>
                    <div class="cardWrapper">
                        <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002dc96821fb44b3e8cb5436c4b">
                            <div class="cardTitle">
                                Are and B Presents ...
                            </div>
                            <div class="cardContent">
                                Cover : jhene aiko
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67656300005f1f34fd237688d618b31e66bee5">
                            <div class="cardTitle">
                                card Title  
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f000000023f22beb2471ef8949bb95d97">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                             <img src="https://i.scdn.co/image/ab67706f00000002d6b20e4c6582d83f86272337">
                             <div class="cardTitle">
                                 card Title
                             </div>
                             <div class="cardContent">
                                 squam eius sed odit fugiat iusto fuga praesentium they from people
                             </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002da8277d97cafeee0df642969">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f0000000258256adb7bf4c656cc053e5a">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                    </div>
                </div>

                <div class="motherCard">
                    <a href="" class="sectionLink">The Top Podcasts of 2020</a>
                    <h4 class="secInfo">Our favourite new shows of the year <a href="#" class="seeAll">see all</a></h4>
                    <div class="cardWrapper">
                        <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002dc96821fb44b3e8cb5436c4b">
                            <div class="cardTitle">
                                Are and B Presents ...
                            </div>
                            <div class="cardContent">
                                Cover : jhene aiko
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67656300005f1f34fd237688d618b31e66bee5">
                            <div class="cardTitle">
                                card Title  
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f000000023f22beb2471ef8949bb95d97">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                             <img src="https://i.scdn.co/image/ab67706f00000002d6b20e4c6582d83f86272337">
                             <div class="cardTitle">
                                 card Title
                             </div>
                             <div class="cardContent">
                                 squam eius sed odit fugiat iusto fuga praesentium they from people
                             </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002da8277d97cafeee0df642969">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f0000000258256adb7bf4c656cc053e5a">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                    </div>
                </div>

                <div class="motherCard">
                    <a href="" class="sectionLink">The Top Podcasts of 2020</a>
                    <h4 class="secInfo">Our favourite new shows of the year <a href="#" class="seeAll">see all</a></h4>
                    <div class="cardWrapper">
                        <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002dc96821fb44b3e8cb5436c4b">
                            <div class="cardTitle">
                                Are and B Presents ...
                            </div>
                            <div class="cardContent">
                                Cover : jhene aiko
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67656300005f1f34fd237688d618b31e66bee5">
                            <div class="cardTitle">
                                card Title  
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f000000023f22beb2471ef8949bb95d97">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                             <img src="https://i.scdn.co/image/ab67706f00000002d6b20e4c6582d83f86272337">
                             <div class="cardTitle">
                                 card Title
                             </div>
                             <div class="cardContent">
                                 squam eius sed odit fugiat iusto fuga praesentium they from people
                             </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002da8277d97cafeee0df642969">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f0000000258256adb7bf4c656cc053e5a">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                    </div>
                </div>


                <div class="motherCard">
                    <a href="" class="sectionLink">The Top Podcasts of 2020</a>
                    <h4 class="secInfo">Our favourite new shows of the year <a href="#" class="seeAll">see all</a></h4>
                    <div class="cardWrapper">
                        <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002dc96821fb44b3e8cb5436c4b">
                            <div class="cardTitle">
                                Are and B Presents ...
                            </div>
                            <div class="cardContent">
                                Cover : jhene aiko
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67656300005f1f34fd237688d618b31e66bee5">
                            <div class="cardTitle">
                                card Title  
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f000000023f22beb2471ef8949bb95d97">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                             <img src="https://i.scdn.co/image/ab67706f00000002d6b20e4c6582d83f86272337">
                             <div class="cardTitle">
                                 card Title
                             </div>
                             <div class="cardContent">
                                 squam eius sed odit fugiat iusto fuga praesentium they from people
                             </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002da8277d97cafeee0df642969">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f0000000258256adb7bf4c656cc053e5a">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                    </div>
                </div>


                <div class="motherCard">
                    <a href="" class="sectionLink">The Top Podcasts of 2020</a>
                    <h4 class="secInfo">Our favourite new shows of the year <a href="#" class="seeAll">see all</a></h4>
                    <div class="cardWrapper">
                        <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002dc96821fb44b3e8cb5436c4b">
                            <div class="cardTitle">
                                Are and B Presents ...
                            </div>
                            <div class="cardContent">
                                Cover : jhene aiko
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67656300005f1f34fd237688d618b31e66bee5">
                            <div class="cardTitle">
                                card Title  
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f000000023f22beb2471ef8949bb95d97">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                             <img src="https://i.scdn.co/image/ab67706f00000002d6b20e4c6582d83f86272337">
                             <div class="cardTitle">
                                 card Title
                             </div>
                             <div class="cardContent">
                                 squam eius sed odit fugiat iusto fuga praesentium they from people
                             </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f00000002da8277d97cafeee0df642969">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                         <a href="#" class="card">
                            <img src="https://i.scdn.co/image/ab67706f0000000258256adb7bf4c656cc053e5a">
                            <div class="cardTitle">
                                card Title
                            </div>
                            <div class="cardContent">
                                squam eius sed odit fugiat iusto fuga praesentium they from people
                            </div>
                        </a>
                    </div>
                </div>


            <!--end of content -->
        </div>

        <div class="musicPlayerWrapper">
            <div class="musicPlayerCover">
                <div class="musicPlayerCoverImage">
                    <img src="https://i.scdn.co/image/ab67706f0000000366ef4f04bf62b0c7f6462096">
                </div>
                <div class="musicPlayerCoverInformation">
                        <span class="innerMusicPlayerInformation">
                            <a class="musicNameFromPlayer">Come Into My Room</a>
                            <span class="musicianList">Mavado, Di Genius, Stacious</span>
                        </span>
                </div>
            </div>
            <div class="musicPlayer">
                <div class="musicPlayerControls">
                    <button><i class="fas fa-random"></i></button>
                    <button><i class="fas fa-step-backward"></i></button>
                    <button id="btnPlay" class="play" style="background-color: white;color: black;"><i class="fas fa-play"></i></button>
                    <button><i class="fas fa-step-forward"></i></button>
                    <button><i class="ri-repeat-2-fill"></i></button>
                </div>
                <div class="musicPlayerStatics">
                    <div class="innerMusicPlayerStatics">
                         <span class="startTime timer"><span class="startMinute">0</span>:<span class="startSecond">0</span></span>
                        <span class="musicProgressBar"></span>
                        <span class="startTime timer" id="timer2">0.00</span>
                    </div>
                </div>
              
            </div>
            <div class="musicExtraControls">
                <div class="innerMusicExteaControls">
                    <a href="#" class="extra musicQueue"><i class="fas fa-layer-group"></i></a>
                    <span id="deviceIcon"><i class="extra ri-speaker-line"></i></span>
                    <span id="volumeIcon"><i class="extra fas fa-volume-up"></i></span>
                    <span id="musicVolumeBar" class="extra"></span>
                </div>
            </div>
        </div>
    </div>

    
    <audio  type="audio/mp3" controls></audio>
    <script src="/js/spotify.js"></script>
</body>
</html>