<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify | Home</title>
    <link rel="stylesheet" href="/css/spotify.css">
    <script src="https://kit.fontawesome.com/9e6202f12f.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <div class="spotify">
      
        <div class="leftSideBar">
            <div class="brand">
                <a href="/"><i class="fab fa-spotify"></i> <span class="brandName">Spotify</span></a>
             </div>

             <div class="navigation" style="color: white;">
                <ul>
                    <li class="active">
                        <a href="/spotify"  class="navLinks"><i class="ri-home-fill"></i>Home</a>
                    </li>
                     <li>
                        <a href="/spotify/search" class="navLinks"><i class="ri-search-line"></i>Search</a>
                    </li>
                     <li>
                        <a href="/spotify/library" class="navLinks"><i class="fas fa-signal"></i>Library</a>
                    </li>

                     <li class="playlistLi">
                        <a href="#" ><i class="fas fa-plus-square"></i>Create Playlist</a>
                    </li>
                     <li>
                        <a href="#"><i class="ri-search-line"></i>Liked Songs</a>
                    </li>
                     <li>
                        <a href=""><i class="fas fa-signal"></i>Your Episodes</a>
                    </li>
                </ul>
             </div>
        
        </div>
        <!--top represents the naviagation below represents content -->

        <!--navigation content -->
         <div class="contentNavigation">
        <a href="#" class="arrows"><i class="fas fa-chevron-left"></i></a>
        <a href="#" class="arrows"><i class="fas fa-chevron-right"></i></a>
        <span class="acc">
            <button class="upgradeButton">UPGRADE</button>
            <a class="accountInfo"><span class="coverProfileIcon"><i class="ri-user-3-line" ></i></span><span class="username">username</span><i class="fas fa-caret-down dropIcon"></i></a>
        </span>
        
        </div>
        <!---end of the navigation content-->
        
        <div class="content">

            
            
            <!--end of content -->
        </div>

        <div class="musicPlayerWrapper">
            <div class="musicPlayerCover">
                <div class="musicPlayerCoverImage">
                    <img src="https://i.scdn.co/image/ab67706f0000000366ef4f04bf62b0c7f6462096">
                </div>
                <div class="musicPlayerCoverInformation">
                        <span class="innerMusicPlayerInformation">
                            <a class="musicNameFromPlayer">Come Into My Room</a>
                            <span class="musicianList">Mavado, Di Genius, Stacious</span>
                        </span>
                </div>
            </div>
            <div class="musicPlayer">
                <div class="musicPlayerControls">
                    <button><i class="fas fa-random"></i></button>
                    <button><i id="btnBackWard" class="fas fa-step-backward"></i></button>
                    <button id="btnPlay" class="play" style="background-color: white;color: black;"><i class="fas fa-play"></i></button>
                    <button ><i id="btnFoward" class="fas fa-step-forward"></i></button>
                    <button><i class="ri-repeat-2-fill"></i></button>
                </div>
                <div class="musicPlayerStatics">
                    <div class="innerMusicPlayerStatics">
                         <span class="startTime timer"><span class="startMinute">0</span>:<span class="startSecond">0</span></span>
                        <span class="musicProgressBar"></span>
                        <span class="startTime timer" id="timer2">0.00</span>
                    </div>
                </div>
              
            </div>
            <div class="musicExtraControls">
                <div class="innerMusicExteaControls">
                    <a href="#" class="extra musicQueue"><i class="fas fa-layer-group"></i></a>
                    <span id="deviceIcon"><i class="extra ri-speaker-line"></i></span>
                    <span id="volumeIcon"><i class="extra fas fa-volume-up"></i></span>
                    <span id="musicVolumeBar" class="extra"></span>
                </div>
            </div>
        </div>
    </div>

    
    <audio  type="audio/mp3" controls></audio>
    <script type="module" src="/js/spotify.js"></script>
</body>
</html>