@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);

*{
    font-family: "Circular Spotify Tx T Black";
}

body {
    margin: 0;
    padding: 0;
}

.center {
    margin: 0px auto;
    max-width: 450px;
}

.brand {
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d9dadc;
}

.brand a {
    text-decoration: none;
    color : black;
}

.brand a {
    font-size:  50px;
}

.brand i {
    font-size: 60px;
}

.brandName {
    font-weight: 700;
}

h1{
    font-weight: 900;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 20px;
}

.socialLinks {
    position: relative;
    border-bottom: 1px solid #d9dadc;
    max-width: 450px;
    margin: 0px auto;
    padding-bottom: 10px;
}

.socialLinks a {
    display: block;
}

.socialLinks a {
    max-width: 450px;
    border-radius: 500px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 10px;
    font-weight: 700;
    padding: 14px;
    cursor: pointer;
    
}

.socialLinks a i {
    margin-right: 20px;
}

.facebook {
    background-color: #3b5998;
    color: white
}

.apple {
    background-color: black;
    color: white;
}


.google img {
    height: 15px;
    width: 15px;
    margin-right: 20px;
}


.google, .phone {
    
    border: 2px solid #6c6f72;
    color : #616467;
} 

.phone {
    margin-bottom: 10px;
}

.or {
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 20px;
    margin-left: -20px;
    text-align: center;
    z-index: 100;
    background-color: white;
    padding: 10px;
    padding-top: 0;
    font-weight: 700;
}

form {
    max-width: 450px;
    padding-top: 20px;
    margin: 0px auto;
}

form label, input {
    display: block;
    box-sizing: border-box;
}
form input {
    border: 1px solid #d9dadc;
    height: 40px;
    padding: 6px 12px;
    color: #222326;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

form label {
    font-size: 16px;
    font-weight: 700;
    color: #222326;
}

.formGroup {
    margin-top: 10px;
}

.forgotPassword {
    color: #616467;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
}

.forgotPassword:hover {
    color: #15883e;
    cursor: pointer;
}

.submitRow { 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.logIn {
    border-radius: 500px;
    background-color: #15883e;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid transparent;
    color:  white;
    min-width: 160px;
    padding: 16px 14px 18px;
    display: block;
    width: 100%;
} 

.insideCheck label, input {
    display: inline;
}


.insideCheck label {
    color: #616467;
    cursor: pointer;
    position: relative;
}

.insideCheck label input {
    position: absolute;
    margin-left: 0px;
    height: 14px;
}


.submitRow {
    max-width: 450px;
    margin: 0px auto;
    border-bottom: 1px solid #d9dadc;
    padding-bottom: 15px;
    margin-top: 20px;
}


.signUp h4 {
    font-weight: 900;
    text-align: center;
}

.signUp button {
    padding: 16px 14px 18px;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    border-radius: 500px;
    display: block;
    width: 100%;
    border-color: #ccc;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    margin-bottom: 10px;
}